.portlet-social-activity h4 {
	font-size: 1.2em;
	margin-bottom: 10px;
}

.social-activity-items {
	h4 {
		font-size: 1.1em;
		margin-bottom: 0px;
	}

	.aui-field-choice {
		display: inline-block;
	}

	.social-activity-item {
		cursor: pointer;
		padding: 6px 3px 6px 0px;   /*rtl*/
		position: relative;

		.social-activity-item-content {
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}

		a {
			color: #000;
			text-decoration:none;
		}
	}

	.social-activity-item:hover {
		background-color: #CDE5FD;
	}

	.social-activity-item.selected {
		background-color: #83BFFA;
	}

	.social-activity-item.selected:after {
		border: 14px solid #83BFFA;
		border-color: transparent transparent transparent #83BFFA;
		content: '';
		display: block;
		right: 100%;   /*rtl*/
		margin-top: -14px;
		position: absolute;
		top: 50%;
		z-index: 2;
	}
}

.social-activity-details {
	.aui-settings-display .aui-settings-display-content {
		background-color: #FFF;
		border: 1px solid #CCC;
		margin: 0px 0px 5px 15px;   /*rtl*/
		padding: 0px 15px;

		.aui-settings-field {
			font-weight: bold;
			list-style: none;

			.aui-settings-field-content {
				position: relative;

				select {
					margin: 0px 4px;
					padding: 3px;
				}
			}

			.field-text {
				font-weight: normal;
				margin-bottom: 3px;
			}

			.field-contribution-text {
				color: #333;
				display: block;
				font-size: 0.95em;
				margin-top: 3px;
			}

			.settings-controls {
				display: none;
			}
		}
		.container-drop-box {
			margin: 0;
			min-height: 130px;

			.content-field {
				border-bottom: 1px solid #ccc;
				padding: 8px 10px 8px 0;   /*rtl*/

				.settings-controls {
					display: block;
				}

				.settings-label {
					display: block;
					margin-bottom: 0.5em;
				}
			}
		}

		.aui-button-row {
			padding: 5px 0;
		}

		.settings-header {
			padding: 10px 0 5px 0;   /*rtl*/

			.actions-conjunction {
				display: inline-block;
				font-weight: bold;
				list-style: none;
				padding: 10px 5px;
			}

			.settings-actions {
				display: inline-block;
				margin: 0px;
			}

			.settings-header-label {
				font-weight: bold;
				padding: 0 5px;
			}

			.action-field {
				background-image: url(@theme_image_path@/rtl/common/add.png);
				background-position: 97% 50%;   /*rtl*/
				background-repeat: no-repeat;
				padding-right: 25px;   /*rtl*/
			}
		}

		.settings-container-label {
			border-bottom: 1px solid #ccc;
			font-size: 1.2em;
			font-weight: bold;
			margin-top: 10px;
			padding: 0 5px;
		}

		.settings-field-buttons {
			display: inline-block;
			position: absolute;
			left: 0;   /*rtl*/
			top: 0;

			.settings-button {
				float: right;   /*rtl*/
			}

			.settings-icon {
				background: none no-repeat right 50%;   /*rtl*/
				display: block;
				height: 16px;
				padding: 0;
				left: 0;   /*rtl*/
				width: 16px;
			}

			.settings-icon-close {
				background-image: url(@theme_image_path@/rtl/portlet/close.png);
			}

			.settings-icon-toggle {
				background-image: url(@theme_image_path@/rtl/arrows/05_right.png);
				font-size: 0.9em;
				font-weight: normal;
				padding: 0 12px 0 16px;   /*rtl*/
				width: auto;
			}

			.settings-icon-expanded {
				background-image: url(@theme_image_path@/rtl/arrows/05_down.png);
			}
		}

		.settings-limit {
			margin-right: 12px;   /*rtl*/

			.settings-limit-row {
				margin: 5px 0;
			}
		}
	}
}