.openid-login input[type="text"] {
	background: url(@theme_image_path@/rtl/common/openid.gif) no-repeat;
	background-color: #fff;
	background-position: right 50%; /*rtl*/
	color: #000;
	padding-right: 18px;
}

.ie6 .openid-login input.text {
	background: url(@theme_image_path@/rtl/common/openid.gif) no-repeat;
	background-color: #fff;
	background-position: right 50%; /*rtl*/
	color: #000;
	padding-right: 18px;
}