.portlet-blogs {
	.taglib-custom-attributes-list {
		margin-bottom: 1em;
	}

	.taglib-custom-attributes-list label {
		display: block;
		font-weight: bold;
	}

	.edit-actions {
		margin: 1.5em 0;
	}

	.entry {
		clear: both;
	}

	.entry-author {
		background: url(@theme_image_path@/rtl/portlet/edit_guest.png) no-repeat right 50%;   /*rtl*/
		border-left: 1px solid #999;   /*rtl*/
		color: #999;
		float: right;   /*rtl*/
		font-weight: bold;
		margin-left: 10px;   /*rtl*/
		padding-right: 25px;   /*rtl*/
		padding-left: 10px;   /*rtl*/
	}

	.entry-body {
		margin-bottom: 10px;
	}

	.entry-date {
		background: url(@theme_image_path@/rtl/common/date.png) no-repeat right 50%;   /*rtl*/
		color: #999;
		padding-right: 25px;   /*rtl*/
	}

	.taglib-asset-categories-summary, .taglib-asset-tags-summary {
		border-right: 1px solid #999;   /*rtl*/
		padding-right: 10px;   /*rtl*/
	}

	.entry-title {
		display: block;
		font-size: 1.5em;
		font-weight: bold;
		margin-bottom: 0.5em;
	}

	.entry.draft, .entry.pending, .entry.scheduled {
		background: #eee;
		border: 1px solid #ccc;
		color: #555;
		padding: 5px;

		h3 {
			background: url(@theme_image_path@/rtl/common/page.png) no-repeat right 50%;   /*rtl*/
			margin-top: 0;
			padding-right: 20px;   /*rtl*/
		}
	}

	.entry-navigation {
		background: #eee;
		border-top: 1px solid #ccc;
		margin: 15px 0 0;
		overflow: hidden;
		padding: 5px;

		a, span {
			background: url() no-repeat;
		}

		.previous {
			background-image: url(@theme_image_path@/rtl/arrows/paging_previous.png);
			float: right;   /*rtl*/
			padding-right: 15px;   /*rtl*/
		}

		span.previous {
			background-position: 0 100%;
		}

		.next {
			background-image: url(@theme_image_path@/rtl/arrows/paging_next.png);
			background-position: 100% 0;
			float: left;   /*rtl*/
			padding-left: 15px;   /*rtl*/
		}

		span.next {
			background-position: 100% 100%;
		}
	}

	.preview {
		background: #ffc;
		border: 1px dotted gray;
		padding: 3px;
	}

	.search-form {
		float: right
	}

	.stats {
		color: #999;
		float: right;   /*rtl*/
		padding-left: 10px;   /*rtl*/
	}

	.subscribe {
		margin-bottom: 1.5em;
	}

	.taglib-flags {
		border-right: 1px solid #999;   /*rtl*/
		color: #999;
		padding-right: 10px;   /*rtl*/
		padding-left: 10px;   /*rtl*/
	}

	.taglib-ratings.stars {
		margin-top: 0.5em;
	}

	#blogsCommentsPanelContainer {
		border-width: 0;
	}
}

.social-boomarks-options {
	margin-right: 2em;   /*rtl*/
}