.lfr-tree {
}

.lfr-tree .aui-tree-label {
	display: table-cell;
	float: none;
	padding-right: 2px;
}

.lfr-tree .expand-image {
}

.lfr-tree a {
	text-decoration: none;
}

.lfr-tree li {
	margin-bottom: 2px;
	padding-right: 0;
}

.lfr-tree li ul {
}

.lfr-tree li ul li, .lfr-tree li.tree-item {
	padding-right: 0;
}

.lfr-tree li.tree-item {
	padding-right: 5px;
}

.lfr-tree li.tree-item li {
	padding-right: 20px;
}

.lfr-tree li.tree-item ul {
	margin-right: 0;
	margin-top: 5px;
}